@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "BBH Sans Bogle", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
}
